@using TesteCNPQ.Models;

@model Agendamento

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes Agendamento</h1>


<div>
    <hr class="col-md-4" />
    <div class="col-md-4">
        <label for="NomeResponsavel">Nome Responsável</label>
        <input class="form-control" value="@Model.NomeResponsavel" readonly />
    </div>
    <div class="col-md-4" style=" margin-top: 10px">
        <label for="Local">Local</label>
        <input class="form-control" value="@Model.Local.Nome" readonly />
    </div>
    <div class="col-md-4" style=" margin-top: 10px">
        <label for="DataInicio">Início</label>
        <input class="form-control" value="@Model.DataInicio" readonly />
    </div>
    <div class="col-md-4" style=" margin-top: 10px">
        <label for="DataTermino">Data Término</label>
        <input class="form-control" value="@Model.DataTermino" readonly />
    </div>
</div>
<div style=" margin-top: 20px" class="row col-md-12">
    <div class="row col-md-1">
        <div>
            <a class="btn btn-dark" href="@Url.Action("Edit", "Agendamento", new { id = Model.Id })" style="text-decoration: none;">Editar</a>
        </div>
    </div>
    <div class="row col-md-5">
        <div>
            <a href="@Url.Action("Index", "Home")" class="btn btn-dark">Voltar à Lista</a>
        </div>
    </div>
</div>
