@using TesteCNPQ.Models;

@model List<Agendamento>

@{
    ViewData["Title"] = "Index";
}

<div class="row col-md-12 align-items-center">
    <h1 class="col-md-10">Agendamentos</h1>
    <a class="row col-md-2 btn btn-dark" href="@Url.Action("Create", "Agendamento")">Agendar um Novo Evento</a>
</div>
<form method="post" class="searchForm" asp-action="Index">
    <div class="row">
        <div class="input-group" style="width: 30%;height: 50%;margin-top: 24px;">
            <input name="pesquisaAgendamento" class="form-control" type="text" placeholder="Pesquisar">
            <input type="submit" value="Pesquisar" class="input-group-append btn btn-dark">
        </div>
        <div class="col-md-2">
            <label for="tipoFiltroAgendamento">Tipo Filtro</label>
            <select id="tipoFiltroAgendamento" name="tipoFiltroAgendamento" class="form-control" style="width: 100%">
                <option>Responsável</option>
                <option>Local</option>
                <option>Data</option>
            </select>
        </div>
        <div class="input-group" style="margin-top: 10px;">
            <div class="col-md-3">
                <label for="inicio" class="control-label">Início</label>
                <input type="datetime-local" class="form-control" id="inicio" name="inicio" />
            </div>
            <div class="col-md-3">
                <label for="fim" class="control-label">Término</label>
                <input type="datetime-local" class="form-control" id="fim" name="fim" />
            </div>
        </div>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                Responsável
            </th>
            <th>
                Local
            </th>
            <th>
                Início
            </th>
            <th>
                Término
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var agendamento in Model)
        {
            <tr>
                <td>
                    @agendamento.NomeResponsavel
                </td>
                <td>
                    @agendamento.LocalNome
                </td>
                <td>
                    @agendamento.DataInicio
                </td>
                <td>
                    @agendamento.DataTermino
                </td>
                <td style="text-align: right;">
                    <script>
                        function removerAgendamento(id) {
                            new swal({
                                title: "Remover Agendamento?",
                                text: "Essa ação não pode ser desfeita",
                                icon: "error",
                                showConfirmButton: true,
                                showDenyButton: true,
                                showCancelButton: true,
                                confirmButtonText: 'Sim',
                                denyButtonText: 'Não',
                            }).then((willClose) => {
                                if (willClose.isConfirmed) {
                                    $.ajax({
                                        type: "POST",
                                        url: `@Url.Action("Delete", "Agendamento", new { id = agendamento.Id })`,
                                        success: function () {
                                            location.reload();
                                        }
                                    })
                                }
                                else if (willClose.isDenied) {
                                    Swal.fire('Agendamento não removido', '', 'info')
                                }
                            });
                        }
                    </script>
                    <a href="@Url.Action("Edit", "Agendamento", new { id = agendamento.Id })" style="text-decoration: none;">
                        <span class="fa-stack">
                            <i class="fa-solid fa-circle fa-stack-2x" style="color: midnightblue;"></i>
                            <i class="fas fa-edit fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                    <a href="@Url.Action("Details", "Agendamento", new { id = agendamento.Id })" style="text-decoration: none;">
                        <span class="fa-stack">
                            <i class="fa-solid fa-circle fa-stack-2x" style="color: orange;"></i>
                            <i class="fa fa-bars fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                    <a href="javascript:;" onclick="removerAgendamento()" id="remove" style="text-decoration: none;">
                        <span class="fa-stack">
                            <i class="fa-solid fa-circle fa-stack-2x" style="color: tomato;"></i>
                            <i class="fa fa-trash fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
