@using TesteCNPQ.Models;

@model List<Agendamento>

@{
    ViewData["Title"] = "Index";
}

<div class="row col-md-12 align-items-center">
    <h1 class="col-md-8">Agendamentos</h1>
    <a class="row col-md-4 btn btn-dark" href="@Url.Action("Create", "Agendamento")">Agendar um Novo Evento</a>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                Nome Responsável
            </th>
            <th>
                Data Início
            </th>
            <th>
                Data Término
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.NomeResponsavel
                </td>
                <td>
                    @item.DataInicio
                </td>
                <td>
                    @item.DataTermino
                </td>
                <td>
                    <a @Url.Action("Edit", "Agendamento", new { id = item.Id })>
                        <span class="fa-stack">
                            <i class="fa-solid fa-circle fa-stack-2x" style="color: midnightblue;"></i>
                            <i class="fas fa-edit fa-stack-1x fa-inverse"></i>
                        </span>
                    </a> |
                    <a @Url.Action("Details", "Agendamento", new { id = item.Id })>
                        <span class="fa-stack">
                            <i class="fa-solid fa-circle fa-stack-2x" style="color: orange;"></i>
                            <i class="fa fa-bars fa-stack-1x fa-inverse"></i>
                        </span>
                    </a> |
                    <a @Url.Action("Delete", "Agendamento", new { id = item.Id })>
                        <span class="fa-stack">
                            <i class="fa-solid fa-circle fa-stack-2x" style="color: tomato;"></i>
                            <i class="fa fa-trash fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
