@using TesteCNPQ.Models

@model List<Local>

@{
    ViewBag.Title = "Index";
}
<div class="row col-md-12 align-items-center">
    <h1 class="col-md-8">Locais</h1>
    <a class="row col-md-4 btn btn-dark" href="@Url.Action("Create", "Local")">Cadastrar novo Local</a>
</div>
<div class="row">
    <table class="table">
        <thead>
            <tr>
                <th>
                    Nome
                </th>
                <th>
                    Endereço
                </th>
                <th>
                    Capacidade Máxima
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.Nome
                    </td>
                    <td>
                        @item.Endereço
                    </td>
                    <td>
                        @item.CapacidadeMax
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>